/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */



prefpane > .content-box,
prefwindow > .paneDeckContainer {
    overflow: visible;
}

#ttCustomizableShortcuts_Tree > treechildren::-moz-tree-cell-text(container),
#ttCustomizableShortcuts_Tree > treechildren::-moz-tree-cell-text(custom) {
  font-weight: 700;
}

#ttCustomizableShortcuts_Tree > treechildren::-moz-tree-cell-text(overridden) {
  text-decoration: line-through;
}

#ttCustomizableShortcuts_Tree > treechildren::-moz-tree-cell-text(container) {
  padding-left: 4px;
}


prefwindow[animated="false"] #ttCustomizableShortcuts_Tree {
  -moz-box-flex: 1;
}

prefwindow[animated="true"] #ttCustomizableShortcuts_Tree {
  height: 25em;
}

hbox { border-style : solid;
	      border-color: grey;
	      padding: 1px;
	      margin: 1px;
		}
vbox { border-style : solid;
	      border-color: black;
	      padding: 1px;
	      margin: 1px;
	}
separator {
 border-style : solid;
	      border-color: green;
	      padding: 1px;
	      margin: 1px;
}

prefwindow { border-style : solid;
	      border-color: red;
	      padding: 1px;
	      margin: 1px;
	}
	
spacer { border-style : solid;
	      border-color: blue;
	      padding: 1px;
	      margin: 1px;
	}
	
#tree_box { border-style : solid;
	      border-color: purple;
	      padding: 1px;
	      margin: 1px;
	}

#button_box { border-style : solid;
	      border-color: orange;
	      padding: 1px;
	      margin: 1px;
	}
	
#search_box { border-style : solid;
	      border-color: cyan;
	      padding: 1px;
	      margin: 1px;
	}
	
prefpane { border-style : solid;
		    border-color: brown;
		    padding: 1px;
		    margin: 1px;
		    -moz-box-flex:1;
	}